<form method="post" action="{{ path('user_password_delete', {'id': user_password.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_password.id) }}">
    <button class="btn">Delete</button>
</form>
