{% extends 'base.html.twig' %}

{% block title %}New TestAnswer{% endblock %}

{% block body %}
    <h1>Create new TestAnswer</h1>

    {{ include('test_answer/_form.html.twig') }}

    <a href="{{ path('test_answer_index') }}">back to list</a>
{% endblock %}
